body {
  background-color: #d1e0e0;
}

.nav_bar {
  display: inline;
  border-right: 1px solid #bbb;
  padding-right: 5px;
}

.station_links {
  text-align: center;
  list-style: none;
  font-size: 3vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.email_button {
  padding-top: 15px;
  text-align: center;
}

.urgent{
  color: #cc0000;
  text-align: center;
  font-size: 2.5vw;
}

.contact_info{
  text-align: center;
  font-size: large;
}

button{
  height: 3vw;
  width: 6vw;
}

h1{
  padding-top: 1vw;
  font-size: 3vw;
  text-align: center;
  color: #0000e6;
}

h3{
  padding: 0px;
  text-align: center;
  color: #0000e6;
}

#nav_links{
  text-align: right;
  font-size: 1.5vw;
}